<a href="https://colab.research.google.com/github/R-Madhuram/DartmouthCapstone_CrudeOilPricePrediction/blob/main/PredictedOilPrice_HypothesisTesting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from math import sqrt

from scipy import stats

In [ ]:
# Mounting drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Load Predictions File

In [ ]:
cushing_preds = pd.read_csv('/content/drive/MyDrive/PCDS_OilPricePrediction/forecasting_products/scalecast/stacked_predictions.csv')
brent_preds = pd.read_csv('/content/drive/MyDrive/PCDS_OilPricePrediction/forecasting_products/scalecast/brent_stacked_predictions.csv')

# Wilcoxon Hypothesis

In [ ]:
cushing_preds.head()

         Date  price  catboost_signals_only  catboost_all_regressors
0  2022-01-03  75.99              75.776707                75.896192
1  2022-01-04  77.00              76.001672                76.914485
2  2022-01-05  77.83              76.930737                76.950302
3  2022-01-06  79.47              77.500991                77.585200
4  2022-01-07  79.00              79.494578                78.101748

In [ ]:
brent_preds.head()

         Date  price  catboost_signals_only  catboost_all_regressors
0  2022-01-03  78.25              76.240583                75.346435
1  2022-01-04  79.39              77.100564                77.407532
2  2022-01-05  80.60              79.172367                78.547636
3  2022-01-06  81.99              83.172124                79.306756
4  2022-01-07  82.28              81.496957                80.014035

In [ ]:
s, p = stats.wilcoxon(cushing_preds['price'], cushing_preds['catboost_signals_only'])

if p < 0.05:
  print('null hypothesis rejected, significant difference between the data-sets')
else:
  print('null hypothesis accepted, no significant difference between the data-sets')

null hypothesis rejected, significant difference between the data-sets

In [ ]:
s, p = stats.wilcoxon(cushing_preds['price'], cushing_preds['catboost_all_regressors'])

if p < 0.05:
  print('null hypothesis rejected, significant difference between the data-sets')
else:
  print('null hypothesis accepted, no significant difference between the data-sets')

null hypothesis rejected, significant difference between the data-sets

In [ ]:
s, p = stats.wilcoxon(brent_preds['price'], brent_preds['catboost_signals_only'])

if p < 0.05:
  print('null hypothesis rejected, significant difference between the data-sets')
else:
  print('null hypothesis accepted, no significant difference between the data-sets')

null hypothesis rejected, significant difference between the data-sets

In [ ]:
s, p = stats.wilcoxon(brent_preds['price'], brent_preds['catboost_all_regressors'])

if p < 0.05:
  print('null hypothesis rejected, significant difference between the data-sets')
else:
  print('null hypothesis accepted, no significant difference between the data-sets')

null hypothesis accepted, no significant difference between the data-sets